.details-section {
  position: relative;
  background-color: #4268b1;
  min-height: 100vh;
}

.coin-stats,
.stat,
.stat > div {
  display: flex;
}

.coin-stats {
  flex-direction: column;
}

.stat {
  justify-content: space-between;
  padding: 32px 10px;
  color: #fff;
}

.stat > div {
  align-items: center;
}

.stat > div svg {
  padding-left: 15px;
}

.stat > span {
  font-weight: 400;
}

.stat:nth-child(even) {
  background-color: #00000017;
}
