::placeholder {
  color: #fff;
  opacity: 0.5;
  font-size: 1.1rem;
  font-style: italic;
}

.home-section {
  position: relative;
}

input {
  background-color: #4167afe6;
  min-width: 97%;
  padding: 1.5%;
  color: #fff;
  font-size: 1.2rem;
  outline: none;
  border: none;
  opacity: 90%;
}
